<div id='container' ng-controller="LinksController">
  <!-- Your html here -->
<!--   <ul>
      <li ng-repeat="todo in todos track by $index" ng-click="removeTodo($index)">{{ todo }}</li>
    </ul> -->
    <div class='navigation'>
    <ul>
      <li><a href='/#/links'>All Links</a></li>
      <li><a href='/#/shorten'>Shorten</a></li>
      <li><a ng-click='logout()' href='/#/signin'>Logout</a></li>
    </ul>
    </div>
   <!--  <div class='info'>
      <div class='visits'><span class='count'>{{visits}}</span>Visits</div>
      <div class='title'>{{title}}</div>
      <div class='original'>{{url}}</div>
      <a href='{{base_url}}/{{code}}'>{{base_url}}/{{code}}</a>
  </div> -->
    Search<input ng-model="query">
    <ul>
      <li ng-repeat="link in data.links | filter:query | orderBy:'-visits'"><p>{{ link.title }}</p>{{ link.url }}<p><a href={{link.base_url}}/{{link.code}}>{{link.base_url}}/{{link.code}}</a></p><p>{{link.visits}} visits</p></li>
    </ul>
</div>
